# Игнорирование файлов окружения
.env

# # Игнорирование кэш-файлов
__pycache__/
*.pyc

# Игнорирование директории media
media/
media_converted/

# Игнорирование других временных файлов
*.log

.venv

.idea